.navbar {
  width: 100%;
  max-width: 1440px;
  font-family: var(--font-family);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 1.375rem 7.5rem;
  margin: auto;
}

.navbar__logo {
  width: 55.28px;
  height: 32px;
}

.navbar__logo > img {
  width: 100%;
  height: 100%;
}

.navbar__links {
  /* flex: 2.5; */
  width: 40%;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.navbar__links > a {
  color: var(--color-silver);
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 22px;
  text-decoration: none;
}

.navbar__login {
  flex: 0.75;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
}

.navbar__login--search {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  /* background-color: blue; */
}

.navbar__login--search-cart {
  width: 56;
  height: 40;
  color: var(--color-white);
  background-color: var(--color-orange);
  display: flex;
  align-items: center;
  gap: 0.625rem;
  cursor: pointer;
  border: 1px solid #f46036;
  border-radius: 8px;
  padding: 10px;
}

.navbar__login--search-search {
  /* Auto layout */
  width: 200px;
  display: flex;
  align-items: center;
  padding: 10px 12px;
  gap: 10px;
  border: 1px solid var(--color-silver);
  border-radius: 8px;
}

.navbar__login--search-search > input[type="search"] {
  color: var(--color-silver);
  background-color: transparent;
  width: 100%;
  font-size: 1rem;
  padding: 5px 6px;
  outline: none;
  border: none;
}

.navbar__login--login {
  width: 160px;
  color: var(--color-white);
  background: var(--color-green);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  cursor: pointer;
  border-radius: 8px;
}

/* Media Queries */
@media screen and (max-width: 800px) {
  .navbar {
    padding: 1rem 2rem;
  }
  .navbar__links {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .navbar {
    gap: 1rem;
    padding: 1rem 0.5rem;
  }

  .navbar__login {
    flex: 0.5;
    justify-self: right;
  }

  .navbar__login--search {
    display: none;
  }
}
