/* CSS variables for the app */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* Colors */
  --color-green: #008475;
  --color-orange: #f46036;
  --color-gray: #eeeeee;
  --color-silver: #82828b;
  --color-white: #ffffff;
  --color-black: #000000;
  --font-family: "Poppins", sans-serif;

  /* Typography */
}

.button {
  width: fit-content;
  color: var(--color-white);
  background: var(--color-green);
  align-self: center;
  text-decoration: none;
  border-radius: 8px;
  padding: 16px 32px;
}

.s-btn {
  width: 31px;
  height: 33px;
  background-color: var(--color-green);
  padding: 0.2rem;
  border-radius: 0.5rem;
}

.orange-btn,
.cart__view-full-cart {
  width: 100%;
  color: var(--color-white);
  background-color: var(--color-orange);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  border-radius: 8px;
}

.white-btn {
  width: 100%;
  color: var(--color-orange);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  border: 1px solid var(--color-orange);
  border-radius: 8px;
}

.orange-btn > a {
  color: var(--color-white);
  text-decoration: none;
}

.white-btn > a {
  color: var(--color-orange);
  text-decoration: none;
}
